* { box-sizing: border-box }
body { font-family: Arial, sans-serif; }
.btn { border: 1px solid #c1c1c1; font-size: 16px; padding: 5px 10px; border-radius: 5px; text-decoration: none; color: #c1c1c1;}

.listas { display: flex; list-style: none; padding-left: 0; }
.listas li {  }
.listas li a { display: block; padding: 5px 10px; text-decoration: none; border: 1px solid #c1c1c1; margin: 5px; }
.listas li.selecionado a { background-color: aqua;  }

.tarefas { padding-left: 0; width: 960px;}
.tarefas-item { display: flex; }
.tarefas-item > div { flex: 1; }
.tarefas-item .titulo { flex: 9; }



.modal { position: fixed; top: 0; bottom: 0; left: 0; right: 0; }
.modal-fundo { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.5); }
.modal-corpo { background-color: #fff; position: absolute; top: 0; bottom: 0; right: 0; width: 50%;}
.modal-titulo {display: flex; padding: 10px; }
.modal-titulo h3 { margin: 0; flex: 1;}
.modal-conteudo {padding: 10px; }

